<% layout("/layouts/boilerplate") -%>
<body>
  <style>
    #filters{
      display:flex;
      flex-wrap: wrap;
      align-items: center;
      transition: margin-left 0.5s;
    }

    .filter{
      text-align: center;
      margin-right:2rem;
      margin-top:2rem;
      opacity: 0.7;
    }

    .filter:hover{
      opacity: 1;
      cursor: pointer;
    }

    .filter p{
      font-size: 0.8rem;
    }

    #filters a{
      text-decoration: none;
      color:black;
    }

    .no-style-button {
      background: none;
      border: none;
      padding: 0;
      font: inherit;
      cursor: pointer;
      outline: inherit;
    }

    .tax-info{
      display: none;
    }

    .tax-toggle{
      border: 1px solid black;
      border-radius: 1rem;
      height:3.25rem;
      padding:1rem;
      margin-left:3rem;
      display: flex;
      align-items: center;
      z-index: 1;
    }
    

    @media (max-width: 768px) {
      .tax-toggle {
        position: relative;
        bottom: 2px; /* Adjust the value as needed */
        right: 20px; /* Adjust the value as needed */
        left:20px;
        margin-left: 0;
      }
    }

    .navbar-toggler-icon i{
      font-size: 2rem;
    }

    @media (max-width: 768px) {
  /* Adjust the layout for smaller screens */

  #filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .filter {
    text-align: center;
    margin: 1rem; /* Adjust margin as needed */
    opacity: 1; /* Ensure filters are fully visible */
  }

  .listings-nav{
    z-index:1;
    display: flex;
    flex-wrap: wrap;
  }

}


  </style>
    <div id="filters" class="">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid ">
      
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"><i class="fa-solid fa-filter"></i></span>
          <span>Filters</span>
        </button>
      
      <div class="collapse navbar-collapse navbar-expand-lg bg-body-tertiary listings-nav" id="navbarSupportedContent">
        <!-- <ul class="navbar-nav me-auto mb-2 mb-lg-0"> -->
        <form action="/listings/filters/trending" method="get">
          <button type="submit" class="no-style-button">
            <div class="filter">
              <div><i class="fa-solid fa-fire"></i></div>
              <p>Trending</p>
            </div>
          </button>
        </form>
        <form action="/listings/filters/rooms" method="get">
          <button type="submit" class="no-style-button">
            <div class="filter">
              <div><i class="fa-solid fa-bed"></i></div>
              <p>Rooms</p>
            </div>
          </button>
        </form>
        <form action="/listings/filters/iconic_cities" method="get">
          <button type="submit" class="no-style-button">
            <div class="filter">
              <div><i class="fa-solid fa-mountain-city"></i></div>
              <p>Iconic Cities</p>
            </div>
          </button>
        </form>
        <form action="/listings/filters/mountains" method="get">
          <button type="submit" class="no-style-button">
            <div class="filter">
              <div><i class="fa-solid fa-mountain"></i></div>
              <p>Mountains</p>
            </div>
          </button>
        </form>
        <form action="/listings/filters/pools" method="get">
          <button type="submit" class="no-style-button">
            <div class="filter">
              <div><i class="fa-solid fa-person-swimming"></i></div>
              <p>Amazing Pools</p>
            </div>
          </button>
        </form>
        <form action="/listings/filters/camping" method="get">
          <button type="submit" class="no-style-button">
            <div class="filter">
              <div><i class="fa-solid fa-campground"></i></div>
              <p>Camping</p>
            </div>
          </button>
        </form>
        <form action="/listings/filters/farms" method="get">
          <button type="submit" class="no-style-button">
            <div class="filter">
              <div><i class="fa-solid fa-cow"></i></div>
              <p>Farms</p>
            </div>
          </button>
        </form>
        <form action="/listings/filters/arctic" method="get">
          <button type="submit" class="no-style-button">
            <div class="filter">
              <div><i class="fa-regular fa-snowflake"></i></div>
              <p>Arctic</p>
            </div>
          </button>
        </form>
        <form action="/listings/filters/beach" method="get" >
          <button type="submit" class="no-style-button">
            <div class="filter">
              <div><i class="fa-solid fa-umbrella-beach"></i></div>
              <p>Beach</p>
            </div>
          </button>
        </form>
        <form action="/listings/filters/domes" method="get" >
          <button type="submit" class="no-style-button">
            <div class="filter">
              <div><i class="fa-solid fa-igloo"></i></div>
              <p>Domes</p>
            </div>
          </button>
        </form>
        <form action="/listings/filters/house_boat" method="get" >
          <button type="submit" class="no-style-button">
            <div class="filter">
              <div><i class="fa-solid fa-ship"></i></div>
              <p>House Boats</p>
            </div>
          </button>
        </form>
      <!-- </ul> -->
      
        
        <div class="tax-toggle">
          <div class="form-check-reverse form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
          </div>
        </div>
      </div>
        </div>
        </nav>
    </div>
    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1 mt-3">
        <% for(let listing of allListings){ %>
            <a href="/listings/<%= listing._id %>" class="listing-link">
                <div class=" card listing-card ">
                    <img src="<%= listing.image.url %>" class="card-img-top" alt="listing image" style="height:20rem;">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                      <p class="card-text">
                        <b><%= listing.title %></b><br>
                        &#8377;<%=listing.price.toLocaleString("en-IN")%> / night
                        <i class="tax-info">&nbsp;&nbsp; +18% GST</i>
                      </p>
                    </div>
                  </div>
            </a>
        <% } %>
    </div>

    <script>
      let filtersToggle=document.getElementById("filters");
      filtersToggle.addEventListener("click",()=>{
        if(filtersToggle.classList.contains(collapsed)){
          filtersToggle.style.marginLeft="-200px";
        }
        else{
          filtersToggle.style.marginLeft="0";
        }
      })

      let taxSwitch=document.getElementById("flexSwitchCheckDefault");
      taxSwitch.addEventListener("click",()=>{
        let taxInfo=document.getElementsByClassName("tax-info");
        for(info of taxInfo){
          if(info.style.display!="inline"){
            info.style.display="inline";
          }
          else{
            info.style.display="none";
          }
        }
      })
    </script>
</body>

