<% layout("/layouts/boilerplate") -%>
<body>
  <div id="filters" class="">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"
            ><i class="fa-solid fa-filter"></i
          ></span>
          <span>Filters</span>
        </button>

        <div
          class="collapse navbar-collapse navbar-expand-lg bg-body-tertiary listings-nav"
          id="navbarSupportedContent"
        >
          <form action="/listings/filters/trending" method="get">
            <button type="submit" class="no-style-button">
              <div class="filter">
                <div><i class="fa-solid fa-fire"></i></div>
                <p>Trending</p>
              </div>
            </button>
          </form>
          <form action="/listings/filters/rooms" method="get">
            <button type="submit" class="no-style-button">
              <div class="filter">
                <div><i class="fa-solid fa-bed"></i></div>
                <p>Rooms</p>
              </div>
            </button>
          </form>
          <form action="/listings/filters/iconic_cities" method="get">
            <button type="submit" class="no-style-button">
              <div class="filter">
                <div><i class="fa-solid fa-mountain-city"></i></div>
                <p>Iconic Cities</p>
              </div>
            </button>
          </form>
          <form action="/listings/filters/mountains" method="get">
            <button type="submit" class="no-style-button">
              <div class="filter">
                <div><i class="fa-solid fa-mountain"></i></div>
                <p>Mountains</p>
              </div>
            </button>
          </form>
          <form action="/listings/filters/pools" method="get">
            <button type="submit" class="no-style-button">
              <div class="filter">
                <div><i class="fa-solid fa-person-swimming"></i></div>
                <p>Amazing Pools</p>
              </div>
            </button>
          </form>
          <form action="/listings/filters/camping" method="get">
            <button type="submit" class="no-style-button">
              <div class="filter">
                <div><i class="fa-solid fa-campground"></i></div>
                <p>Camping</p>
              </div>
            </button>
          </form>
          <form action="/listings/filters/farms" method="get">
            <button type="submit" class="no-style-button">
              <div class="filter">
                <div><i class="fa-solid fa-cow"></i></div>
                <p>Farms</p>
              </div>
            </button>
          </form>
          <form action="/listings/filters/arctic" method="get">
            <button type="submit" class="no-style-button">
              <div class="filter">
                <div><i class="fa-regular fa-snowflake"></i></div>
                <p>Arctic</p>
              </div>
            </button>
          </form>
          <form action="/listings/filters/beach" method="get">
            <button type="submit" class="no-style-button">
              <div class="filter">
                <div><i class="fa-solid fa-umbrella-beach"></i></div>
                <p>Beach</p>
              </div>
            </button>
          </form>
          <form action="/listings/filters/domes" method="get">
            <button type="submit" class="no-style-button">
              <div class="filter">
                <div><i class="fa-solid fa-igloo"></i></div>
                <p>Domes</p>
              </div>
            </button>
          </form>
          <form action="/listings/filters/house_boat" method="get">
            <button type="submit" class="no-style-button">
              <div class="filter">
                <div><i class="fa-solid fa-ship"></i></div>
                <p>House Boats</p>
              </div>
            </button>
          </form>
          <!-- taxToggle -->

          <div class="tax-toggle">
            <div class="form-check-reverse form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="flexSwitchCheckDefault"
              />
              <label class="form-check-label" for="flexSwitchCheckDefault"
                >Display total after taxes</label
              >
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1 mt-3">
    <% for(let listing of allListings){ %>
    <a href="/listings/<%= listing._id %>" class="listing-link">
      <div class="card listing-card">
        <img
          src="<%= listing.image.url %>"
          class="card-img-top"
          alt="listing image"
          style="height: 20rem"
        />
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text">
            <b><%= listing.title %></b><br />
            &#8377;<%=listing.price.toLocaleString("en-IN")%> / night
            <i class="tax-info">&nbsp;&nbsp; +18% GST</i>
          </p>
        </div>
      </div>
    </a>
    <% } %>
  </div>
  <script>
    // tax-toggle
    let taxSwitch = document.getElementById("flexSwitchCheckDefault");
    taxSwitch.addEventListener("click", () => {
      let taxInfo = document.getElementsByClassName("tax-info");
      for (info of taxInfo) {
        if (info.style.display != "inline") {
          info.style.display = "inline";
        } else {
          info.style.display = "none";
        }
      }
    });
  </script>
</body>
