body {
  font-family: "Lobster", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Plus Jakarta Sans", sans-serif !important;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  flex: 1;
}

/* navbar */
.navbar {
  height: 5rem;
  background-color: white;
}

.hambergerMenu {
  height: 18rem !important;
  background-color: white !important;
}
.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}
.nav-link {
  color: #222222 !important;
}

/* search */

.search-btn {
  background-color: #fe424d !important;
  color: white !important;
  border-radius: 25px !important;
  padding: 0 1rem 0 1rem !important;
  padding-top: 7px !important;
}
.search-btn:hover {
  background-color: #fe424d !important;
  color: white !important;
}
.search-btn i {
  display: inline;
  margin-right: 0.5rem;
}

.search-input {
  border-radius: 25px !important;
  padding: 0.5rem 3rem 0.5rem 3rem !important;
  font-size: 1rem !important;
}

#searchDropdown {
  margin-top: 47px;
}

/* footer */
.f-info-links a {
  text-decoration: none;
  color: #222222;
}
.f-info-links a:hover {
  text-decoration: underline;
}
.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.f-info-socials i {
  font-size: 1.2rem;
  margin-right: 1rem;
}
.f-info {
  text-align: center;
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}
/* Cards */
.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}
.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}
.card-body {
  padding: 0 !important;
}
.card-text p {
  font-weight: 400 !important;
}
.listing-link {
  text-decoration: none;
}
/* Card Effect */
.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}
/* New Page */
.add-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* EditPage */
.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
  padding-left: 1rem !important;
  margin-left: 0 !important;
  padding-right: 1rem !important;
}

/* Show page */

.show-img {
  height: 30vh;
}

.btns {
  display: flex;
}

.show-card {
  padding-left: 0;
  padding-right: 0;
}

/* Map */
#map {
  height: 400px;
  width: 80vh;
}

/* filter */

#filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  transition: margin-left 0.5s;
}

.filter {
  text-align: center;
  margin-right: 2rem;
  margin-top: 2rem;
  opacity: 0.7;
}

.filter:hover {
  opacity: 1;
  cursor: pointer;
}

.filter p {
  font-size: 0.8rem;
}

#filters a {
  text-decoration: none;
  color: black;
}

.no-style-button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.tax-info {
  display: none;
}

.tax-toggle {
  border: 1px solid black;
  border-radius: 1rem;
  height: 3.25rem;
  padding: 1rem;
  margin-left: 3rem;
  display: flex;
  align-items: center;
  z-index: 1;
}

@media (max-width: 768px) {
  .tax-toggle {
    position: relative;
    bottom: 2px; /* Adjust the value as needed */
    right: 20px; /* Adjust the value as needed */
    left: 20px;
    margin-left: 0;
  }
}

.navbar-toggler-icon i {
  font-size: 2rem;
}

@media (max-width: 768px) {
  /* Adjust the layout for smaller screens */

  #filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .filter {
    text-align: center;
    margin: 1rem; /* Adjust margin as needed */
    opacity: 1; /* Ensure filters are fully visible */
  }

  .listings-nav {
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
  }
}
